@import "header";
@import "socialmedia";
@import "features1";
@import "features2";
@import "process";
@import "pricing";
@import "Contact";
@import "First";
@import "footer";
@import "mobile";
@import "brand";
@import "testimonial";






*{
  margin: 0;
  padding: 0;
box-sizing: border-box;}
html{
  scroll-behavior: smooth;

}
body{
  font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1100px;
      margin: 0 auto;

    }
